taverna-component-activity/src/main/resources/NewMyExperimentSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb http://java.sun.com/xml/ns/jaxb/bindingschema_2_0.xsd"
	jxb:version="2.1">
	<xs:annotation>
		<xs:appinfo>
			<jxb:schemaBindings>
				<jxb:package name="org.apache.taverna.component.registry.api" />
			</jxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:attributeGroup name="LocationAttributes">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="uri" type="xs:anyURI" />
		<xs:attribute name="resource" type="xs:anyURI" />
		<xs:attribute name="version" type="xs:int" />
	</xs:attributeGroup>
	<xs:complexType name="StatsInfo">
		<xs:sequence>
			<xs:element name="total" type="xs:int" />
			<xs:element name="breakdown">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="site" type="xs:int" />
						<xs:element name="other" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Statistics">
		<xs:sequence>
			<xs:element name="viewings" type="StatsInfo" />
			<xs:element name="downloads" type="StatsInfo" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Description" mixed="true">
		<xs:all>
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="license-type" type="Description"
				minOccurs="0" />
			<xs:element name="permissions" type="Permissions"
				minOccurs="0" />
			<xs:element name="content-uri" type="xs:string" minOccurs="0" />
		</xs:all>
		<xs:attributeGroup ref="LocationAttributes" />
	</xs:complexType>
	<xs:complexType name="Privileges">
		<xs:sequence>
			<xs:element name="privilege" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="type" type="Privilege" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Privilege">
		<xs:restriction base="xs:string">
			<xs:enumeration value="view" />
			<xs:enumeration value="download" />
			<xs:enumeration value="edit" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Permissions">
		<xs:choice>
			<xs:element name="permission" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="category" type="xs:string" />
						<xs:element name="id" type="xs:int" minOccurs="0" />
						<xs:element name="privilege" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="type" type="Privilege" use="required" />
							</xs:complexType>
						</xs:element>
						<xs:element name="use-layout" type="xs:boolean" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="group-policy-id" type="xs:string" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Content">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="encoding" type="xs:string" />
				<xs:attribute name="type" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Comments">
		<xs:sequence>
			<xs:element name="comment" type="Description" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Tags">
		<xs:sequence>
			<xs:element name="tag" type="Description" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Taggings">
		<xs:sequence>
			<xs:element name="tagging" type="Description" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Credits">
		<xs:sequence>
			<xs:element name="credit" type="Description" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attributions">
		<xs:sequence>
			<xs:element name="attribution" type="Description"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Versions">
		<xs:sequence>
			<xs:element name="workflow" type="Description" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComponentType">
		<xs:annotation>
			<xs:documentation>
				The type of components and workflows.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="idElement" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="type" type="Description" minOccurs="0" />
			<xs:element name="uploader" type="Description" minOccurs="0" />
			<xs:element name="created-at" type="xs:string" minOccurs="0" />
			<xs:element name="updated-at" type="xs:string" minOccurs="0" />
			<xs:element name="license-type" type="Description"
				minOccurs="0" />
			<xs:element name="content-uri" type="xs:anyURI" minOccurs="0" />
			<xs:element name="content-type" type="xs:string"
				minOccurs="0" />
			<xs:element name="content" type="Content" minOccurs="0" />
			<xs:element name="tags" type="Tags" minOccurs="0" />
			<xs:element name="taggings" type="Taggings" minOccurs="0" />
			<xs:element name="versions" type="Versions" minOccurs="0" />
			<xs:element name="comments" type="Comments" minOccurs="0" />
			<xs:element name="credits" type="Credits" minOccurs="0" />
			<xs:element name="attributions" type="Attributions"
				minOccurs="0" />
			<xs:element name="privileges" type="Privileges" minOccurs="0" />
			<xs:element name="statistics" type="Statistics" minOccurs="0" />
			<xs:element name="permissions" type="Permissions"
				minOccurs="0" />
			<!-- Unique bits below -->
			<xs:element name="component-family" type="xs:anyURI"
				minOccurs="0" />
			<xs:element name="preview" type="xs:anyURI" minOccurs="0" />
			<xs:element name="thumbnail" type="xs:anyURI" minOccurs="0" />
			<xs:element name="thumbnail-big" type="xs:anyURI"
				minOccurs="0" />
			<xs:element name="svg" type="xs:anyURI" minOccurs="0" />
			<xs:element name="reviews" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="review" type="Description" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ratings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rating" type="Description" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="citations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="citation" type="Description"
							minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="components" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataflows" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dataflow" type="DataflowType"
										maxOccurs="unbounded" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="LocationAttributes" />
	</xs:complexType>

	<xs:complexType name="ComponentFamilyType">
		<xs:annotation>
			<xs:documentation>
				The type of component families and packs.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="idElement" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="owner" type="Description" minOccurs="0" />
			<xs:element name="created-at" type="xs:string" minOccurs="0" />
			<xs:element name="updated-at" type="xs:string" minOccurs="0" />
			<xs:element name="tags" type="Tags" minOccurs="0" />
			<xs:element name="taggings" type="Taggings" minOccurs="0" />
			<xs:element name="license-type" type="Description"
				minOccurs="0" />
			<xs:element name="download-url" type="xs:anyURI"
				minOccurs="0" />
			<xs:element name="privileges" type="Privileges" minOccurs="0" />
			<xs:element name="comments" type="Comments" minOccurs="0" />
			<xs:element name="statistics" type="Statistics" minOccurs="0" />
			<xs:element name="versions" type="Versions" minOccurs="0" />
			<xs:element name="permissions" type="Permissions"
				minOccurs="0" />
			<!-- Unique bits below. -->
			<xs:element name="component-profile" type="xs:anyURI"
				minOccurs="0" />
			<xs:element name="internal-pack-items" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="internal-pack-item" type="Description"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="external-pack-items" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="external-pack-item" type="Description"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="relationships">
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" maxOccurs="unbounded"
							processContents="lax" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="LocationAttributes" />
	</xs:complexType>

	<xs:complexType name="ComponentProfileType">
		<xs:annotation>
			<xs:documentation>
				The type of component profiles and files.
			</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="idElement" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="filename" type="xs:string" minOccurs="0" />
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="type" type="Description" minOccurs="0" />
			<xs:element name="uploader" type="Description" minOccurs="0" />
			<xs:element name="content-type" type="xs:string"
				minOccurs="0" />
			<xs:element name="content" type="Content" minOccurs="0" />
			<xs:element name="content-uri" type="xs:anyURI" minOccurs="0" />
			<xs:element name="created-at" type="xs:string" minOccurs="0" />
			<xs:element name="updated-at" type="xs:string" minOccurs="0" />
			<xs:element name="license-type" type="Description"
				minOccurs="0" />
			<xs:element name="credits" type="Credits" minOccurs="0" />
			<xs:element name="attributions" type="Attributions"
				minOccurs="0" />
			<xs:element name="tags" type="Tags" minOccurs="0" />
			<xs:element name="taggings" type="Taggings" minOccurs="0" />
			<xs:element name="privileges" type="Privileges" minOccurs="0" />
			<xs:element name="comments" type="Comments" minOccurs="0" />
			<xs:element name="statistics" type="Statistics" minOccurs="0" />
			<xs:element name="permissions" minOccurs="0" type="Permissions" />
		</xs:all>
		<xs:attributeGroup ref="LocationAttributes" />
	</xs:complexType>

	<xs:complexType name="DataflowType">
		<xs:all>
			<xs:element name="sources" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="source" minOccurs="0" maxOccurs="unbounded"
							type="WorkflowPort" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sinks" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sink" minOccurs="0" maxOccurs="unbounded"
							type="WorkflowPort" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="processors" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="processor" minOccurs="0" maxOccurs="unbounded"
							type="Processor" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="datalinks" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="datalink" minOccurs="0" maxOccurs="unbounded"
							type="Link" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- FIXME: Add when myExp actually publishes this info -->
			<!-- <xs:element name="coordinations" minOccurs="0" /> -->
		</xs:all>
		<xs:attribute name="id" type="xs:string" use="required" />
		<xs:attribute name="role" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="WorkflowPort">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="descriptions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="description" type="xs:string"
							minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="examples" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="example" type="xs:string" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessorPort">
		<xs:sequence>
			<xs:element name="node" type="xs:string" />
			<xs:element name="port" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Processor">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="type" type="xs:string" />
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Link">
		<xs:all>
			<xs:element name="sink" type="ProcessorPort" />
			<xs:element name="source" type="ProcessorPort" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ComponentDescriptionList">
		<xs:sequence>
			<xs:element name="workflow" type="Description"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComponentFamilyList">
		<xs:sequence>
			<xs:element name="pack" type="Description"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LicenseType">
		<xs:all>
			<xs:element name="id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<jxb:property name="idElement" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="unique-name" type="xs:string" minOccurs="0" />
			<xs:element name="title" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="url" type="xs:anyURI" minOccurs="0" />
			<xs:element name="created-at" type="xs:string" minOccurs="0" />
			<xs:element name="updated-at" type="xs:string" minOccurs="0" />
		</xs:all>
		<xs:attributeGroup ref="LocationAttributes" />
	</xs:complexType>
	<xs:complexType name="LicenseList">
		<xs:sequence>
			<xs:element name="license" type="LicenseType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PolicyList">
		<xs:sequence>
			<xs:element name="policy" type="Description" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComponentProfileList">
		<xs:sequence>
			<xs:element name="file" type="Description"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="content-uri" type="xs:string" />
	<xs:element name="component-profiles" type="ComponentProfileList" />
	<xs:element name="component-families" type="ComponentFamilyList" />
	<xs:element name="workflows" type="ComponentDescriptionList" />
	<xs:element name="workflow" type="ComponentType" />
	<xs:element name="pack" type="ComponentFamilyType" />
	<xs:element name="file" type="ComponentProfileType" />
</xs:schema>